%p#notice= notice

%p
  %b Name:
  = @response_template.name
%p
  %b Body:
  %pre
    = safe_render_json(@response_template.body)

= link_to 'Edit', edit_response_template_path(@response_template)
\|
= link_to 'Back', response_templates_path
